
.root {
    -fx-background-color: linear-gradient(to bottom right, #a18cd1, #fbc2eb);
}

.label {
    -fx-font-size: 14px;
}

.text-field, .password-field {
    -fx-padding: 4px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
    -fx-background-radius: 5px;
}

.button {
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #4facfe, #00f2fe);
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
}
.hyperlink {
    -fx-text-fill: #333;
}
.rounded-image-container {
    -fx-background-radius: 30;
    -fx-border-radius:20;/* Adjust this value to control the roundness of the corners */
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0;
    -fx-padding: 0; /* Adjust or remove padding as needed */

}






